
.exercises-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    width: 40rem;
}
.exercises-header div{
    font-size: 2rem;
    font-weight: 800;
}

.exercises-items{
    display: flex;
   flex-direction: wrap;
    
}

.no-more-exercises {
    font-size: 2rem;
    font-style: italic;
}
.container-wdith {
    width: 100%
}

.display-button {
    align-items: right;
}

.input-group {
    margin: 2rem 0 4rem 2rem;
}

.exercise-container {}

