<app-home-nav></app-home-nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">A Blog for IS 632 at NJIT</h1>
                    <p class="lead fw-normal text-white-50 mb-4"></p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
        </div>
    </div>
</header>
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">H2 Database</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                   H2 Database is an In-Memory Database that allows you to achive CRUD operations during development. It is a Full-featured Relational Database Management System (RDBMS) with a small footprint, either embedded into Java application or used as a database server.
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
  <div class="container px-5">
      <section class="py-5">
        
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <h3 class="text-white">Resources</h3>
            </aside>
    </section>
  </div>
</section>
