<app-home-nav></app-home-nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">A Blog for IS 632 at NJIT</h1>
                    <p class="lead fw-normal text-white-50 mb-4"></p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
        </div>
    </div>
</header>
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">H2 Database</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                   H2 Database is an In-Memory Database that allows you to achive CRUD operations during development. It is a Full-featured Relational Database Management System (RDBMS) with a small footprint, either embedded into Java application or used as a database server.
                    H2 database is very simple to setup. It simply needs its dependency added to you rproject then you can access it when you application is running. This database Engine is primarily used for running test cases by the development teams
                </div>
                <div class="row gx-5 row-cols-1 row-cols-md-2 mt-5">
                    <div>
                        <h5>Type of Database: </h5> 
                        <span class="m-5">Relational</span>
                    </div>
                    <div>
                        <h5>Price: </h5> 
                        <span class="mt-5">Free</span>
                    </div>
                    <div class="mt-5">
                        <h5>Free Version: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                    <div class="mt-5">
                        <h5>Programming Language: </h5> 
                        <span class="m-5">Java</span>
                    </div>
                    <div class="mt-5">
                        <h5>Accepts SQl Dialects: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                    <div class="mt-5">
                        <h5>Can run on the Web: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                    <div class="mt-5">
                        <h5>Can run on the Web: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                    <div class="mt-5">
                        <h5>First Published on: </h5> 
                        <span class="m-5">2005</span>
                    </div>
                    <div class="mt-5">
                        <h5>Community: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                    <div class="mt-5">
                        <h5>GUI: </h5> 
                        <span class="m-5">Yes</span>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
  <div class="container px-5">
      <section class="py-5">
        
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5 text-white">
                <h3 >Resources</h3>

                <p><a class="text-white m-5" href ="https://www.trustradius.com/products/h2-database/reviews"> Trust Radius</a></p>
               

                <p><a class="text-white m-5" href =" http://www.h2database.com/html/history.html"> H2</a></p>
                <p><a class="text-white m-5" href =" https://www.tutorialspoint.com/h2_database/index.htm"> Tutorials Point</a></p>
                

            </aside>
    </section>
  </div>
</section>
