<app-home-nav></app-home-nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">An exercise Library for your fitness journey</h1>
                    <p class="lead fw-normal text-white-50 mb-4">We commit to help you become a better you. The version on you that you have always dreamed of. The future version of you that you see smiling back at you when you look in the mirror.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/sign-up">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"></div>
        </div>
    </div>
</header>
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start exercising.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="width: 3em; text-align: center;"><i class="bi bi-collection"></i></div>
                        <h2 class="h4"><a routerLink="/exercises" style="text-decoration: none; color: black;">Browse by name</a></h2>
                        <p class="mb-0">Our library is vast and allows you to browse exercises. If you know the name of an exercise.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="width: 3em; text-align: center;"><i class="bi bi-building"></i></div>
                        <h2 class="h4"><a routerLink="/exercises" style="text-decoration: none; color: black;">Browse by body parts</a></h2>
                        <p class="mb-0">If you would like to focus on a specific bodypart, we have a library of exercises filtered by body parts. </p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3" style="width: 3em; text-align: center;"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4"><a routerLink="/exercises" style="text-decoration: none; color: black;">Browse using search filter</a></h2>
                        <p class="mb-0">You can search in real time for exercices by using our search filter option.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
  <div class="container px-5">
      <section class="py-5">
        
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Get healthy, and get fit together</div>
                        <div class="text-white-50">Send this to a friend and help them on their journey</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Share</button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
    </section>
  </div>
</section>
