
<app-exercises-nav></app-exercises-nav>
<section>
  <div class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="col-lg-8">
            <h2 class="mb-5">Update Your Profile</h2>
            <div class="col-lg-8 mb-5 mb-lg-0">
              <div class="row gx-5 border rounded-end">
                <form class="m-4">
                  <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label for="inputfirst" class="mb-2">First Name</label>
                        <input
                          type="first"
                          class="form-control mb-3"
                          id="inputEmail4"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputlast" class="mb-2">Last Name</label>
                        <input
                          type="last"
                          class="form-control mb-3"
                          id="inputEmail4"
                          placeholder="Email"
                        />
                      </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4" class="mb-2">Email</label>
                      <input
                        type="email"
                        class="form-control mb-3"
                        id="inputEmail4"
                        placeholder="Email"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="mb-2">Previous Password</label>
                      <input
                        type="password"
                        class="form-control mb-3"
                        id="inputPassword4"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4" class="mb-2">New Password</label>
                      <input
                        type="password"
                        class="form-control mb-5"
                        id="inputPassword4"
                        placeholder="Password"
                      />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mb-5" (click)="update()">Update</button>
                  
                </form>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
