<app-exercises-nav></app-exercises-nav>
<section class="py-5">
  <div class="container px-5">
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            <div class="text-center">
              <h2 class="fw-bolder">Welcome, {{ user }}</h2>
              <p class="lead fw-normal text-muted mb-5">
                Welcome to your homepage. You can customize it how you would like. As you go, you it will adapt to your stytle.
              </p>
            </div>
          </div>
        </div>
        <div class="row gx-5">
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <div
                class="card-img-top"
                src="https://dummyimage.com/600x350/ced4da/6c757d"
              ></div>
              <div class="card-body p-4">
                <a
                  class="text-decoration-none link-dark stretched-link"
                  href="#!"
                  ><h4 class="card-title mb-5">Workout Program</h4></a
                >
                <p class="card-text mb-0">
                  This holds your workout programs. The ones that you have already started as well as others that you can quickly look through.
                </p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <div
                class="card-img-top"
                src="https://dummyimage.com/600x350/ced4da/6c757d"
              ></div>
              <div class="card-body p-4">
                <a
                  class="text-decoration-none link-dark stretched-link"
                  href="#!"
                  ><h4 class="card-title mb-5">Favorites</h4></a
                >
                <p class="card-text mb-0">
                 You can see workouts that you have liked in the past
                </p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <div
                class="card-img-top"
                src="https://dummyimage.com/600x350/ced4da/6c757d"
              ></div>
              <div class="card-body p-4">
                <a
                  class="text-decoration-none link-dark stretched-link"
                  href="#!"
                  ><h4 class="card-title mb-5">Update Profile</h4></a
                >
                <p class="card-text mb-0">
                  This card allows you to set set you preferences.
                </p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        
          
        </div>
        <!-- Call to action-->
      
      </div>
    </section>
    <section class="py-5">
      <div class="container px-5">
          <section class="py-5">
            
                <!-- Call to action-->
                <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">Get healthy, and get fit together</div>
                            <div class="text-white-50">Send this to a friend and help them on their journey</div>
                        </div>
                        <div class="ms-xl-4">
                            <div class="input-group mb-2">
                                <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                <button class="btn btn-outline-light" id="button-newsletter" type="button">Share</button>
                            </div>
                            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                        </div>
                    </div>
                </aside>
        </section>
      </div>
    </section>
  </div>
</section>
